extends ../../templates/page/template.page-base-adaptativo.pug

block styles
	link(rel="stylesheet", href="style.css")

block body
	body(prev-hide, next-hide, menu-hide)

		header.wow.up
			+image('logo.png', 'logo')
		
		section.sec1
			+image('img01.png', 'img left')
			.boxText.right
				h1 Como a Assistência Social pode contribuir para uma Educação Integral?
				p A parceria entre o Itaú Social, o Congemas (Colegiado Nacional de Gestores Municipais de Assistência Social) e a Lab Social resultou no curso "Educação Integral e Assistência Social: conexões e redes de direitos", visando interseções entre Assistência Social e Educação para promover os direitos humanos e a Educação Integral de crianças e adolescentes em vulnerabilidade.
				p A trilha "Como a Assistência Social pode contribuir para uma Educação Integral?" aborda aspectos essenciais da Educação Integral e da Assistência Social, destacando a importância de atuar em rede para promover direitos sociais. Ela propõe uma reflexão sobre a relevância da Educação Integral em contextos de desigualdade, reconhecendo os desafios e enfatizando a necessidade de fortalecer uma atuação conjunta. Esta trilha convida à reflexão e ao engajamento em práticas educativas inclusivas, visando transformar vidas.
		
		section.sec2
			h2.up O que veremos nesta trilha?
			.flex
				.box.up
					.block
						.num
							h3 01
						.info
							p Significado social da Educação Integral
					ul
						li 
							p Por que a educação requer integralidade?
						li 
							p Caminhos para a construção de uma Educação Integral
				.box.up
					.block
						.num
							h3 02
						.info
							p Contribuições da Assistência Social para a Educação Integral
					ul
						li 
							p Funções da Política de Assistência Social na proteção social mais ampla
						li 
							p Funções da política de assistência social
						li
							p A função da Proteção Social Básica e Especial
				.box.up
					.block
						.num
							h3 03
						.info
							p Ferramentas estratégicas para a redução das desproteções sociais
					ul
						li 
							p Vigilância socioassistencial para fortalecer o planejamento de ações na Escola
						li
							p A função da Proteção Social Básica e Especial
				.box.up
					.block
						.num
							h3 04
						.info
							p Tecnologias sociais com potencial para a atuação em rede
					
		section.sec3
			.box.up
				p Que este material possa inspirar práticas educativas integradas e unificadas no propósito de inovar socialmente e transformar vidas!
		
		footer.up
			+image('logo-footer.png', 'imgFooter')

block scripts
	script(src="script.js")